# ===== OS/IDE =====
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# ===== Java / Maven / Gradle =====
**/target/
*.log

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Model artifacts (decida depois) =====
# Para hackathon, pode ser útil versionar o modelo.
# Se você quiser versionar, REMOVA as 2 linhas abaixo.
*.joblib
*.pkl
